body {
	font-family: sans-serif;
}

#boolean-function {
	font-family: sans-serif;
}

th {
	background-color: lightblue;
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

#boolean-table {
	width: 10%;
	text-align: center;
	empty-cells: hide;
	border-collapse: collapse;
	/* border: 1px solid black; */
}

#boolean-function {
	width: 10%;
}
